*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-size: 1.1rem;
}
header {
  background-color: #0a565c;
  padding: 0.5em 0;
}
.container {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.nav__list {
  padding: 0;
  margin: 0;
  display: flex;
  gap: 2rem;
  list-style: none;
  /* border: 2px solid green; */
}
.nav__link {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}
.nav__link-btn {
  padding: 0.25em 1em;
  text-decoration: none;
  color: black;
  border-radius: 10rem;
  background-color: #fff;
  text-transform: uppercase;
}
.nav__link:hover {
  opacity: 0.75;
}

.nav__link-btn:hover {
  background-color: #f0f0f0ff;
}
/* nav-2 */
.push-right {
  margin-left: auto;
}
/* nav-3 */
.nav-flex {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}
/* nav-7 */
.nav__list--1 {
  padding: 0;
  margin: 0;
  display: flex;
  gap: 2rem;
  list-style: none;
  /* border: 2px solid green; */
  margin: 0 auto;
}
.nav__list--2 {
  padding: 0;
  margin: 0;
  display: flex;
  gap: 2rem;
  list-style: none;
  /* border: 2px solid green; */
}
