:root {
  --white: red;
}

*::before,
*::after {
  box-sizing: content-box;
}
* {
  line-height: 1.632;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
}
.row {
  display: flex;
  justify-content: space-between;

  /* align-items: center; */
}
h1 {
  margin: 0;
}
img {
  max-width: 100%;
}
.Q-1 {
  background-color: #f3eed9;
  /* padding: 16em; */
  min-height: 65vh;
  text-align: center;
  display: flex;
  align-items: center;
}
h4 {
  font-size: 1rem;
  font-weight: lighter;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1rem;
  font-size: 1.8rem;
  text-transform: uppercase;
}
h1 {
  color: #824936;
  font-family: "Playfair Display", serif;
  font-size: 4rem;
  padding: 0 2em;
  font-weight: 900;
}
.heading-2 {
  text-align: center;
  padding: 1rem 0;
  font-size: 3rem;
  font-family: "Playfair Display", serif;
  font-weight: 900;
  color: #824936;
}
.Q-2 {
  padding: 4em 0;
}

/* Q_3 */
.Q-3 {
  background-color: #222c2a;
}
.padding {
  padding: 4em 0;
}
.title {
  font-family: "Playfair Display", serif;
  font-size: 3rem;
  font-weight: 900;
  margin: 0;
}
.text {
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  /* padding: 2rem 0; */
}
.col {
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 1.3125rem;
}
.col + .col {
  margin-left: 3em;
}
.color-1 {
  color: #f3eed9;
  /* color: var(--white); */
}
/* Q_4 */
.Q-4 {
  background-color: #824936;
}
