.hello {
  width: 145px;
  text-align: center;
  font-size: 2rem;
  background: linear-gradient(to right, red, blue);
  background-clip: text;
  color: transparent;
}
.wraper {
  display: flex;
  gap: 20px;
  width: 300px;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}
.card {
  scroll-snap-align: center;
  box-sizing: border-box;
  padding: 20px 30px;
  flex-shrink: 0;
  width: 300px;
  background-color: white;
  border-radius: 14px;
  text-align: center;
}

body {
  height: 150vh;
}
.text {
  color: transparent;
  display: inline;
  background: radial-gradient(pink, purple);
  background-clip: text;
}
#span {
  background: linear-gradient(to left, green, yellow);
  background-clip: text;
  color: transparent;
}
